# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib

# Test binary, built with `go test -c`
*.test

# Output of the go coverage tool, specifically when used with LiteIDE
*.out

# Directory for emacs temporary files
.emacs.desktop
.emacs.desktop.lock

# for .DS_Store files
.DS_Store

# for vscode
.vscode

# for vim
*.swp

# for goland
.idea

# for bin, src, pkg folder
bin
src
pkg


